{:paths ["src" "resources" "test"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojars.quoll/raphael {:mvn/version "0.1.6"}
        org.clojars.quoll/tiara {:mvn/version "0.2.1"}
        io.github.quoll/donatello {:git/tag "v1.2.5" :git/sha "8b71687"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}
   :main-opts ["--main"    "cljs.main"
               "--repl-env" "node"
               "-i" "test/quoll/michelangelo/core_test.cljc"]  ;; execute with clj -M:test-cljs
  }
  :neil {:project {:name quoll/michelangelo}}}
